@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700&display=swap');

body {
    font-size: 15px;
    font-family: 'Noto Sans JP', sans-serif;
}

.container {
    max-width: 960px !important;
}

.icon-challenge {
    -webkit-mask: url('../images/icon_challenge.svg') no-repeat 50% 50%;
    width: 32px;
    height: 32px;
}

.icon-memo {
    -webkit-mask: url('../images/icon_memo.svg') no-repeat 50% 50%;
    width: 32px;
    height: 32px;
}

.icon-info {
    -webkit-mask: url('../images/icon_info.svg') no-repeat 50% 50%;
    width: 32px;
    height: 32px;
}

.icon-menu {
    -webkit-mask: url('../images/icon_menu.svg') no-repeat 50% 50%;
    width: 32px;
    height: 32px;
}

.title {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: var(--primary-300);
}

.scroll-top {
    position: fixed;
    right: 90px;
    bottom: 270px;
}