.header {
    height: 64px;
    background-color: #414141;
    display: flex;
}

.header-top {
   margin-top: 19px !important;
}

.logo img {
    width: 109px;
    height: 40px;
    margin-left: 16px;
}

.menu {
    display: flex;
    justify-content: flex-end;
}
.menu-item {
    margin-right: 10px;
    display: flex;
    position: relative;
}

.menu-item .icon {
    background-color: var(--primary-400);
}

.menu-item .icon-menu {
    margin-right: -25px;
}


.menu-item .account {
    position: absolute;
    width: 16px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--primary-400);
    left:20px;
    z-index: 5;
}

.menu-item .account .number-account {
    position: absolute;
    left: 5px;
    bottom: -1px;
    font-size: 11px;
    color: var(--light);
}

.menu-item .icon-menu {
    margin-left: 48px;
}

.menu-item a {
    color: var(--light);
    margin-left: 8px;
    margin-top: 3px;
    font-size: 16px;
}

.menu-item a:active {
    color: var(--primary-400);
}