:root {
  --light: #ffffff;
  --primary-300: #ffcc21;
  --primary-400: #ff963c;
  --primary-500: #ea6c00;
  --secondary-300: #8fe9d0;
  --primary-300-400: linear-gradient(180deg, #ffcc21 0%, #ff963c 100%);
  --dark-600: #2e2e2e;
  --dark-text: #414141;
  --gray: #777777;
}
